.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

@keyframes tooltip-shake {
  10%, 90% {
    transform: translate3d(-1px, -50%, 0);
  }

  20%, 80% {
    transform: translate3d(2px, -50%, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, -50%, 0);
  }

  40%, 60% {
    transform: translate3d(4px, -50%, 0);
  }
}
