@import "grid";

.no-scroll {
  overflow: hidden;
}

.container {
  @include container;
}

.hidden-xs {
  display: none;

  @include breakpoint($sm) {
    display: block;
  }
}

.visible-xs {
  display: block;

  @include breakpoint($sm) {
    display: none;
  }
}

.js-hidden-logged-in {
  display: none;
}

.dark-grey {
  color: $grey-4;
}
