@mixin lazy-load-image {
  img:not([src]) {
    visibility: hidden;
  }

  /* Fixes Firefox anomaly during image load */
  @-moz-document url-prefix() {
    img:-moz-loading {
      visibility: hidden;
    }
  }
}
