<% if activities.any? %>
  <table class="activity-log">
    <thead>
      <tr>
        <th>Name</th>
        <th>Params</th>
        <th>Actions</th>
        <th>Timestamp</th>
      </tr>
    </thead>

    <tbody>
      <% activities.each do |activity| %>
        <%= render "projects/activity_log/#{activity[:activity_config]['type']}", activity: activity %>
      <% end %>
    </tbody>
  </table>
<% end %>
