<%= render "active_activity", activity_log: @active_activity_log,
                              project: @project %>

<div class="project-page">
  <div class="project-page__container container">
    <h1><%= @project[:config][:name] %></h1>

    <div class="project-page__activities">
      <%= render "activities", project: @project %>
    </div>

    <div class="project-page__activity-log">
      <h2>Activity Log</h2>

      <%= render "activity_log", activities: @activities,
                                 project: @project %>
    </div>
  </div>
</div>
