.project {
  &__activities {
    display: flex;
  }

  &__activity {
    display: block;
    padding: $px16;

    border-radius: $px4;

    background-color: $grey-10;

    text-decoration: none;
  }
}
