<div class="new-activity-page">
  <div class="new-activity-page__container container">
    <h1><%= @activity[:name] %></h1>

    <div class="new-activity-page__form">
      <%= render "form", activity: @activity,
                         project: @project %>
    </div>
  </div>
</div>
